.row
  .large-12.columns.fixed-height
    %fieldset
      %legend MEU Blagoevgrad Application Form
      = render partial: 'application_steps_links'
      = simple_form_for @application , url: wizard_path do |f|
        = f.input :university
        = f.input :field_of_studies
        = button_tag( :class => "button") do
          Next
          %i.fi-arrow-right