.row
  %h2.text-center.page-heading
    Change your password
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .row
      .small-3.small-centered.columns
        = f.label :password, "New password"
    .row
      .small-3.small-centered.columns
        = f.password_field :password, autofocus: true, autocomplete: "off"
    .row
      .small-3.small-centered.columns
        = f.label :password_confirmation, "Confirm new password"
    .row
      .small-3.small-centered.columns
        = f.password_field :password_confirmation, autocomplete: "off"
    .text-center= f.submit "Change my password" , {:class => "button" , :role => "button"  }
= render "devise/shared/links"
